<p id="notice"><%= notice %></p>
<table>
  <thead style="display: none;">
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @eno_cards.each do |eno_card| %>
      <tr>
        <td><%= strip_tags eno_card.text %></td>
        <td><%= eno_card.impressions_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>